@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .mb-tel-link {
    font-size: 36px;
  }

  .form-input-email {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .page-header {
    padding: 0;
  }

  .logo-web {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
  }

  .menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .main-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab-1x.jpg);
  }

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ration: 2) {
    .main-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab.jpg);
    }
  }

  .main-section-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    width: 496px;
  }

  .features-list {
    gap: 72px 24px;
    justify-content: center;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: start;
  }

  .team-list {
    gap: 64px 24px;
  }

  .custom-list {
    gap: 72px 24px;
  }

  .custom-list-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-wrap {
    gap: 24px;
    align-items: baseline;
  }

  .footer-cover-text {
    text-align: left;
  }

  .footer-socials-title {
    text-align: left;
  }

  .footer-form-title {
    text-align: left;
  }

  .form-input-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .nav-list {
    display: flex;
    margin-right: 0;
  }

  .logo-web {
    margin-right: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
  }

  .menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .main-section {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/working-people-bg.jpg);
  }

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ration: 2) {
    .main-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/working-people-bg-2x.jpg);
    }
  }

  .main-section-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    width: 496px;
    text-transform: none;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-wrap {
    position: relative;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .features-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .features-title {
    text-align: start;
    font-size: 20px;
  }

  .engage-section {
    padding-bottom: 120px;
    display: block;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .custom-section {
    padding: 120px 0;
  }

  .custom-list-item {
    width: calc((100% - 120px) / 6);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-wrap {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-cover-text {
    margin-right: 120px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-socials-wrap {
    margin-right: 80px;
  }

  .footer-socials-list {
    margin-bottom: 0;
  }

  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .form-label {
    display: flex;
  }

  .form-input-email {
    width: 264px;
  }
}
