*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --primary-white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: solid 1px #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
  gap: 40px;
  position: relative;
  margin-right: 122px;
}

.logo-web {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-studio {
  color: #404bbf;
}

.current-portfolio {
  color: #404bbf;
}

.current-studio::after {
  background-color: #404bbf;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
}

.current-portfolio::after {
  background-color: #404bbf;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 66px;
  height: 4px;
  border-radius: 2px;
}
.header-link {
  transition: color 250ms cubic-bezier(00.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.address-list {
  gap: 40px;
  list-style: none;
  display: none;
}

.list {
  list-style: none;
}

.address-link {
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.menu-open-btn {
  border: none;
  background: transparent;
  margin-left: auto;
}

.menu-open-icon {
  fill: transparent;
  stroke: #2e2f42;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.mob-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-list {
  margin-bottom: 50px;
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-current-studio {
  color: #404bbf;
}

.mob-address {
  font-style: normal;
  list-style: none;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.mob-tel-link {
  color: #4d5ae5;
  font-size: 29px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-tel-link:hover,
.mob-tel-link:focus {
  color: #404bbf;
}

.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #404bbf;
}

.mob-socials-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}
.mob-socials-item {
  width: 40px;
  height: 40px;
}
.mob-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-socials-link:hover,
.mob-socials-link:focus {
  background-color: #404bbf;
}

.mob-socials {
  fill: #f4f4fd;
}

.main-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 122px 54px;
}

@media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ration: 2) {
  .main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mob.jpg);
  }
}

.main-section-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.12;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.order-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-flex;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.sub-main-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
  /* width: calc((100% - 72px) / 4); */
}

.features-icon-wrap {
  display: none;
}

.features-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.features-title-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.engage-section {
  padding-bottom: 120px;
  display: none;
}

.engage-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.engage-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.engage-item {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team-card {
  background-color: #ffffff;
  max-width: 264px;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  margin: 0 auto;
}

.text-wrap {
  padding: 32px 0;
}

.team-name {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-socials {
  fill: #f4f4fd;
}

.custom-section {
  padding: 96px 0;
}

.custom-title {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.custom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  align-items: center;
  justify-content: center;
}

.custom-list-item {
  /* width: calc((100% - 120px) / 6); */
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.custom-link {
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-link:hover {
  color: #404bbf;
  border-color: #404bbf;
}

.custom-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.custom-icon {
  fill: currentColor;
}

.custom-icon:hover,
.custom-icon:focus {
  fill: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  display: flex;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-cover-text {
  text-align: center;
}

.logo-studio-footer {
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
  margin-top: 16px;
  margin-bottom: 72px;
}

.footer-socials-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-form-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.form-input-email {
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-input-email::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  padding: 8px 16px;
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  margin-left: 16px;
}

.filter {
  padding-top: 96px;
  padding-bottom: 72px;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.filter-list-item {
  width: calc((100% - 48px) / 3);
}

.img-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-list-link:hover,
.img-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-list-link:hover .img-list-cover-text,
.img-list-link:focus .img-list-cover-text {
  transform: translateY(0%);
}

.img-cover-wrap {
  position: relative;
  overflow: hidden;
}

.img-list-cover-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-text-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.img-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-label-wrap {
  margin-bottom: 8px;
}

.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrap {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.check-icon-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .modal-check-text span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-check-text {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-check-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.form-send-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-flex;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: #404bbf;
}
